    
    body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.top-bar {
    background-color: #e75147;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.top-bar a {
    color: rgb(255, 253, 253);

    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-right: 15px;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 16px;
}

.nav-links a:hover {
    color: #f44336;
}

.shop-btn {
    background-color: #e44337;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

.shop-btn:hover {
    background-color: #c73131;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    padding-right: 70px;
}

.search-bar input {
    width: 50%;
    padding: 9px;
    font-size: 16px;
    border: 0px solid #cac6c6;
    color: rgb(rgb(216, 216, 216));
    background-color: #eeebeb;
    border-radius: 4px;
    padding-left: -50px;
    padding-right: -50px;
}

.user-section {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.logout-btn {
    background-color: #df4136;
    color: white;
    border: 1px solid #c9473e;

    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout-btn:hover {
    background-color: #c03232;
}

    .container {
      background: white;
      padding: 30px;
      border-radius: 10px;
     
      width: 400px;
      margin-left: 660px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    label {
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }
    input, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    .buttons button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
    .save-btn {
      background-color: #007bff;
    }
    .reset-btn {
      background-color: #ffc107;
      color: black;
    }
    .preview-img {
      margin-top: 10px;
      width: 100%;
      max-height: 200px;
      object-fit: contain;
      display: none;
    }
    .productForm{
        margin-left: 300px;
    }

    /*footer*/

.footer {
    background-color: #db4444;
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;

    margin-top: 210px;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 10px;
   
  }
  
  .footer-box p,
  .footer-box span {
    font-size: 14px;
    margin: 5px 0;
    padding-top: 14px;
    padding-right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .subscribe {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
  }
  
  .subscribe input {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    flex: 1;
   
   
  }
  
  .subscribe button {
    padding: 8px 12px;
    background: white;
    color: #db4444;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -80px;
  }
  
  .qr {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .qr img {
    width: 80px;
  }
  
  .store-btns img {
    width: 100px;
    display: block;
    margin-bottom: 5px;
  }
  
  .socials {
    margin-top: 15px;
    display: flex;
    gap: 10px;
   
  }
  
  .socials span {

    padding: 6px;
  }

  .ft{
    width: 160px;
  }
  
  .copyright {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    opacity: 0.8;
  }
  
  .em{
    margin-right: 80px;
  }

  .EX{
   padding-left: 10px;
  }